{% extends 'base.html' %}
<title>Login</title>
{% block nav %}
    <nav class="nav">
    <ul class="navigation">
       <li><a class="nav_a" href="{{ url_for('registration') }}">REGISTRATION</a></li>
        </ul>
    </nav>
{% endblock %}
{% block content %}
    <h2 class="login_h2">Для входа в систему ввидете логин и пароль! </h2>
    <form class="login_form" action="{{ url_for('login') }}" method="post">
    <div class="block_form">
        <p class="fild_name_form" >{{ form.user_name.label }}<br>
        {{ form.user_name(size=30) }}</p>
        <p class="fild_password_form" > {{ form.password.label }}<br>
        {{ form.password(size=30) }}
        </p>
        <input class="login_fm" type="submit" value="Войти">
    </div>
    </form>

{% endblock %}