{% extends 'base.html' %}
{% block nav %}
    <nav class="nav">
    <ul class="navigation">
        <li><a class="nav_a" href="{{ url_for('login') }}">BACK</a></li>
        </ul>
    </nav>
{% endblock %}
{% block content %}

    <form action="{{url_for('registration')}}" method="POST">
     <div class="block_form_">
         {{ form.csrf_token }}
        <p class="fild_name_form_">
            {{ form.first_name.label }} <br>
            {{ form.first_name(size=35) }}
            </p>
        <p class="fild_last_name_form_">
            {{ form.last_name.label }} <br>
        {{ form.last_name(size=35) }}
        </p>
         <p class="fild_password_form_" >
             {{ form.password.label }} <br>
         {{ form.password(size=35) }}
         </p>
         <p class="fild_password_form_" >{{ form.password2.label }}<br>
         {{ form.password2(size=35) }}
         </p>
         <p class="fild_email_form_" > {{ form.mail.label }}<br>
         {{ form.mail(size=35) }}
         </p>
        <input class="login_fm_" type="submit" value="registation">
     </div>
    </form>
{% endblock %}